@font-face {
    font-family: "Parkinsans-bold";
    src: 
    url("fonts/Parkinsans-Bold.ttf") format("TrueType");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Parkinsans-Medium";
    src: 
    url("fonts/Parkinsans-Medium.ttf") format("TrueType");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Parkinsans-Regular";
    src: 
    url("fonts/Parkinsans-Regular.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src:
    url("fonts/Inter-VariableFont_opsz,wght.ttf") format("TrueType");
    font-weight: normal;
    font-style: normal;
}

body {    
/* white */
    --background-color: #F6F5F5;
    --text-color-white: #F6F5F5;
    --accent-color-white: #F6F5F5;


/* black */
    --text-color-black: #212121;
    --accent-color-black: #212121;

/* gray */
    --text-color-gray: #EAEAEA;
    --accent-color-gray: #EAEAEA;
    --button-color-gray: #EDEDED;

/* pink */
    --accent-color-pink: #882B7D;

/* blue */
    --accent-color-blue: #086387;

    

  /*font-size*/
    --font-size-xl:: 1.8em; /*28.8px*/
    --font-size-l: 1.2em; /*19.2px*/
    --font-size-m: 1.11625em; /*17.86px*/
    --font-size-s: .75em; /*12px*/
    --font-size-xs: 1em; /*16px*/
    --font-size-xxs:: .6em; /*9.6px*/

    /* font-families */
    --font-default: "Inter", sans-serif;
    --font-regular: "Parkinsans-Regular" sans-serif;
    --font-medium: "Parkinsans-Medium" sans-serif;
    --font-bold: "Parkinsans-bold" sans-serif;

    

}
