
/* MARK: Header */

button {
    all: unset; /*Verwijdert de standaard styling van de button*/
    cursor: pointer;
}


.profile-overview {
    display: flex;
    justify-content: flex-end;
}



/* MARK: Main */
main {
    padding: 0 1.1em 3em 1em;
    @media (min-width: 40em) {
        grid-column: 2/3;   
    }
}

.logo-heading {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.logo-milledoni {
    grid-row: 1/2;
    margin-left: 4em;


}

h1 {
    font-family: var(--font-default);
    grid-row: 2/3;

}
.section-explenation {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

p:hover {
    text-decoration: underline;
    cursor: pointer;
}


.display {
    display: grid;
    grid-template-columns: .5fr;
    grid-template-rows: 1fr .5fr;
    gap: 1em;
}

.explenation-text {
    grid-row: 2/3;
}

.section-cadeaus {
    padding-top: 1em; /* Verwijdert de standaard padding van de <ul> */
    list-style-type: none; /* Verwijdert de standaard opsommingstekens */
    display: flex; /* Maakt de <ul> een flex-container */
    overflow-x: auto; /* Maakt horizontaal scrollen mogelijk */
    scroll-snap-type: x mandatory; /* Zet automatisch centreren bij scrollen aan op de x-as: als je scrolt komt de meest dichtsbijzijnde foto op de focus */
	overscroll-behavior-x: contain;  /* Beperkt het horizontale scrollgedrag: vermijdt het swipen naar een andere pagina  */
    width: 100%; /* Zet de breedte van de <ul> op 100% */
    gap: 1em;
}

.section-cadeaus::-webkit-scrollbar {
    display: none; /*Verwijdert de scrollbar*/
}


.carousel-one {
    position: relative;
}

.save-button{
    position: absolute;
    top: 1em;
    right: 1.2em;
}

p {
    font-family: var(--font-default);
}


.chat-button {
    position: fixed;
    right: .4em;
    bottom: -.5em;
    cursor: pointer;
   
}

/* MARK: VIEW TRANSITION*/

@view-transition{ /*hiermee wordt de @viewtransitie geactiveerd: https://developer.chrome.com/docs/web-platform/view-transitions*/
    navigation: auto;
}

@keyframes move-out {
    0% {
        transform: translateX(0%);
    }
    30% {
        transform: translateX(-30%)
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes move-in {
    0% {
        transform: translateX(100%);
    }
    30% {
        transform: translateX(30%)
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}