*{
    margin: 0;
    padding: 0;
}

body {
    @media (min-width: 40em) {
        display: grid;
        grid-template-columns: max(20em) minmax(0, 100vw); /*De tweede kolom heeft een minimale breedte van 0 en een maximale breedte van 100vw (de breedte van het scherm).        */
        grid-gap: 0 1.5em
    }
}

/* MARK: HEADER */
header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    @media (min-width: 40em) {
        grid-column: 2/3;   
    }

}

button {
    all: unset; /*Verwijdert de standaard styling van de button*/
    cursor: pointer;
}

.logo-link {
    flex-grow: 4;
    padding: 1em 0 2em 1.5em;

}

.logo-desktop {
    display: none;
    @media (min-width: 40em) {
        display: block;
        flex-grow: 4;
        padding: 1em 0 2em 1.5em;
    }
}


.saved-list {
    padding-top: 2.7em;
    
}

.visit--profile-button {
    padding: 2.7em 1em 0 0;
}

/* MARK: MAIN */
main {
    padding: 3em 1.1em 3em 1em;
    @media (min-width: 40em) {
        grid-column: 2/3;   
    }
}

h1 {
    flex-wrap: wrap;
    font-family: var(--font-default);
    font-size: var(--font-size-l);
}

.profile {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    padding: 1em 1em 0 0;
}

.profile-name {
    font-family: var(--font-default);
    font-size: var(--font-size-m);
    padding: 1em;
    background-color: var(--button-color-gray);
    border-radius: 7.44px;
    &:hover {
        background-color: var(--accent-color-blue);
    }
}

[type="button"]{
    background-image: url("../assets/pen.png"); /* Achtergrondafbeelding van een pen */
    background-size: 1.5em 1.5em;  /* Schaalt de afbeelding naar 2em bij 2em */
    background-repeat: no-repeat; /* Voorkom herhaling van de afbeelding */
    background-position: .25em center; /* Plaats de afbeelding iets naar links en gecentreerd verticaal */
    padding:.75em .75em .75em 2.5em; /*2.5em als padding is door de de breedte van de afbeelding van 2em op te tellen met de position van de background (.25em) vanaf 2.5 begint de tekst. */
}

.section-cadeaus {
    padding-top: 1em; /* Verwijdert de standaard padding van de <ul> */
    list-style-type: none; /* Verwijdert de standaard opsommingstekens */
    display: flex; /* Maakt de <ul> een flex-container */
    overflow-x: auto; /* Maakt horizontaal scrollen mogelijk */
    scroll-snap-type: x mandatory; /* Zet automatisch centreren bij scrollen aan op de x-as: als je scrolt komt de meest dichtsbijzijnde foto op de focus */
	overscroll-behavior-x: contain;  /* Beperkt het horizontale scrollgedrag: vermijdt het swipen naar een andere pagina  */
    width: 100%; /* Zet de breedte van de <ul> op 100% */
    gap: 1em;
}

.section-cadeaus::-webkit-scrollbar {
    display: none; /*Verwijdert de scrollbar*/
}

h2 {
    font-family: var(--font-default);
    font-weight: 300;
    padding: 2em 0 0 ;
    }

.carousel-one {
    position: relative;
}

.save-button{
    position: absolute;
    top: 1em;
    right: 1.2em;
    &:hover{
            transform: translateY(-6px);
        }
}


p {
    font-family: var(--font-default);
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.chat-button {
    display: block;
    position: fixed;
    bottom: -.5em;
    right: .4em;
    cursor: pointer;
    @media (min-width: 40em) {
        display: none;
    }
}


.zoeken.toonSearch {
    translate: 0% 0%;   
}


.zoeken {
    transition: translate 1.5s;
    position: fixed;
    top: 25em;
    left: 0;
    bottom:0;
    width: 100%;
    translate: 0% 100%;
    background: var(--text-color-gray);
    display: flex;
    align-items: end;
    justify-content: left;
    @media (min-width: 40em) {
        translate: 0%;
        top: 0;
        left: 0;
        grid-column: 1/2;
        width: max(20em);
    }    
}

.chat-text {
    color: var(--text-color-accent);
    position: absolute;
    top: 1em;
    left: 1em;
    display: block;
    @media (min-width: 40em) {
        display: none;
    }
}


.logo-desktop {
    @media (min-width: 40em) {
        position: absolute;
        top: 1em;
        left: .6em;
    }
}

.zoeken {
    input[type="search"] {    
        background:var(--background-color);
        width: 150%;
        height: 3em;
        margin-bottom: 1em;
        margin-left: 1em;
        border-radius: .75em;
        @media (min-width: 40em) {
            width: max(22em);
    }
    }
}

.zoeken {
    input[type="search"], textarea {
        outline: none;
        border: none;
        text-align: left;
        font-family: var(--font-default);
        background-image: url("../assets/lens.png"); 
        background-size: 1.5em 1.5em;  
        background-repeat: no-repeat; /* Voorkom herhaling van de afbeelding */
        background-position: .50em center;
        padding:.75em .75em .75em 3em;   
    }  
}

.zoeken input::placeholder {
    color: var(--accent-color-black);
}

.pop-up {
    display: none;
    position: fixed;
    background-color: var(--accent-color-blue);
    border: .2em solid var(--accent-color-blue);
    border-radius: 1em;
    text-align: center;
    transform: translateX(-50%);
    height: 1.8em;
    top: 1em;
    left: 55%;
    padding: 1em;
}


.show {
    display: block;
    gap: 1em;
    align-self: center;
    /* De pop-up wordt zichtbaar */
    animation: bounceInUp 1s ease-out forwards;
}
/* MARK: FOOTER */

footer {
    padding: 1em 0 0 1em;
    @media (min-width: 40em) {
        grid-column: 2/3;   
        
      }
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    @media (min-width: 40em) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5em;
   } 
}

.footer-list {
    margin-top: 1em;
    margin-bottom: 1em;
}

.first--column-footer {
    grid-column: 1/2;
    @media (min-width: 40em) {
        margin-left: 4em;
    }
}

.second--column-footer {
    grid-column: 1/2;
}

.third--column-footer {
    grid-column: 2/3;
    grid-row: 1/2;
}


.forth--column-footer {
    grid-column: 2/3;
}

li {
    list-style: none;
}

a {
    font-family: var(--font-default);
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:var(--black);
    line-height: 1.5em;
    &:hover{
        text-decoration: underline;
    }
}

/* MARK: VIEW TRANSITION*/

@view-transition{ /*hiermee wordt de @viewtransitie geactiveerd: https://developer.chrome.com/docs/web-platform/view-transitions*/
    navigation: auto;
}

@keyframes move-out {
    0% {
        transform: translateX(0%);
    }
    30% {
        transform: translateX(-30%)
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes move-in {
    0% {
        transform: translateX(100%);
    }
    30% {
        transform: translateX(30%)
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}